name: Test Workflow

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: testing github action
        run: pwd
      - name: testing printing
        run: echo mariam
 