name: Test Workflow

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name:  "login to dockerhub"
        run:  docker login --username ${{secrets.DOCKER_USERNAME}} --password ${{secrets.DOCKER_TOKEN}}
       
      - name: "building docker image"
        run: docker build -t ${{secrets.DOCKER_USERNAME}}/myimag .
      - name: "pushing to docker hub"
        run: docker push ${{secrets.DOCKER_USERNAME}}/myimag 
 